## Week 5.1

In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [27]:
df = pd.read_csv("C:\\Users\\mruh\\Downloads\\cricket1_for_decision_tree(1).csv")
df.head()

    Outlook Temperature Humidity  Windy Play Cricket
0     Sunny         Hot     High  False           No
1     Sunny         Hot     High   True           No
2  Overcast         Hot     High  False          Yes
3     Rainy        Mild     High  False          Yes
4     Rainy        Cool   Normal  False          Yes

In [28]:
df.rename(columns = {'Play Cricket':'Plays'}, inplace = True)

In [29]:
df.shape

(14, 5)

In [30]:
df.isnull().sum()

Outlook        0
Temperature    0
Humidity       0
Windy          0
Plays          0
dtype: int64

In [31]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [32]:
for i in range(0,df.shape[1]):
    df.iloc[:,i] = le.fit_transform(df.iloc[:,i])

In [33]:
df

    Outlook  Temperature  Humidity  Windy  Plays
0         2            1         0      0      0
1         2            1         0      1      0
2         0            1         0      0      1
3         1            2         0      0      1
4         1            0         1      0      1
5         1            0         1      1      0
6         0            0         1      1      1
7         2            2         0      0      0
8         2            0         1      0      1
9         1            2         1      0      1
10        2            2         1      1      1
11        0            2         0      1      1
12        0            1         1      0      1
13        1            2         0      1      0

In [38]:
x = df.drop(['Plays'],axis='columns')
y = df['Plays']

In [41]:
from sklearn.tree import DecisionTreeClassifier

In [43]:
model = DecisionTreeClassifier()

In [44]:
model.fit(x,y)

DecisionTreeClassifier()

In [45]:
model.predict([[2,1,0,0]])

array([0])