## Week 5.2

### using decision tree machine learning model analyse employee salary data of various companies and then predict the salary of a new employee

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df =pd.read_csv("salaries_decisionTrees.csv")

In [3]:
df

      company              job     degree  salary_more_than_100k
0      amazon  project manager  bachelors                      1
1      amazon  project manager    masters                      1
2      amazon  sales executive  bachelors                      0
3      amazon  sales executive    masters                      0
4      amazon       programmer  bachelors                      0
5      amazon       programmer    masters                      1
6   jp morgan  sales executive    masters                      0
7   jp morgan       programmer  bachelors                      0
8   jp morgan  project manager  bachelors                      0
9   jp morgan  project manager    masters                      1
10  microsoft  sales executive  bachelors                      1
11  microsoft  sales executive    masters                      1
12  microsoft  project manager  bachelors                      1
13  microsoft  project manager    masters                      1
14  microsoft       programmer  bachelors                      1
15  microsoft       programmer    masters                      1

In [14]:
inputs = df.drop('salary_more_than_100k',axis='columns')

inputs.head(2)

  company              job     degree
0  amazon  project manager  bachelors
1  amazon  project manager    masters

In [11]:
target = df['salary_more_than_100k']
target.head(3)

0    1
1    1
2    0
Name: salary_more_than_100k, dtype: int64

### converting column data into numeric

In [13]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

##### company 

    amazon --> 0
    jp morgan --> 1   
    microsoft --> 2    
    
    
##### job

    programmer --> 0    
    project manager --> 1    
    sales executive --> 2
    
##### degree
    
    bachelors --> 0
    masters --> 1

In [16]:
inputs['company_n'] = le.fit_transform(inputs['company'])
inputs['job_n'] = le.fit_transform(inputs['job'])
inputs['degree_n'] = le.fit_transform(inputs['degree'])

inputs.head(2)

  company              job     degree  company_n  job_n  degree_n
0  amazon  project manager  bachelors          0      1         0
1  amazon  project manager    masters          0      1         1

In [20]:
inputs_n = inputs.drop(['company','job','degree'],axis='columns')
inputs_n.head()

   company_n  job_n  degree_n
0          0      1         0
1          0      1         1
2          0      2         0
3          0      2         1
4          0      0         0

In [21]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()

In [23]:
model.fit(inputs_n,target)

DecisionTreeClassifier()

### predicting for person in AMAZON as sales executive with masters degree

In [25]:
model.predict([[0,2,1]]) # 0 --> means salary less than 100k

C:\Users\sures\anaconda3\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

### predicting for person in AMAZON as Programmer with masters degree

In [28]:
model.predict([[0,0,1]]) # 1 --> means salary more than 100k

C:\Users\sures\anaconda3\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)